
<h1>ホテルの予約</h1>
<div class="centernew">
<%= render 'form', reservation: @reservation %>
</div>
 <small class="text-muted"><%= link_to "戻る", hotel_path(@hotel), class: "btn btn-secondary"  %></small>

