<h1>新規レビュー作成</h1>
<div class="centernew">
<%= render 'form', review: @review %>
</div>

<div class="left2">
 <small class="text-muted"><%= link_to "ホテル詳細", hotel_path(@hotel), class: "btn btn-secondary"  %></small>
</div>
<div class="rigth22">
 <small class="text-muted"><%= link_to "レビューの一覧", hotel_reviews_path(@hotel), class: "btn btn-secondary"  %></small>
</div>
